<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Teddy Talk</title>
  </head>
  <body>
	<table border="1">
		    <thead>
		        <tr>
		            <th>Nom</th>
		            <th>Contenu</th>
		            <th>Réponse</th>
		            <th>Date</th>
		        </tr>
		    </thead>
		    <tbody>
		        <tr th:each="message : ${listMessages}">
		            <td th:text="${message.authorName}"></td>
		            <td th:text="${message.content}"></td>
		            <td th:text="${message.quote.content}"></td>
		            <td th:text="${message.timestamp}"></td>
		        </tr>
		    </tbody>	
  </body>
</html>
